/*   My Profile Page */
@import "../../styles/main.scss";

.wrapper {
  margin: 1%;
  height: 300px;
  cursor: pointer;
  width: 30%;
  border: 1px solid;
  .wrapper-item {
    padding: 5px;
    background: #ffffff71;
    height: inherit;
    width: auto;
    text-align: center;
    &:hover {
      box-shadow: $wedo-block-shadow-hover;
    }
    .order-title {
      padding-top: $font34;
      font-size: $font32;
      color: black;
      font-weight: bold;
    }
    .order-text {
      font-size: $font24;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 130%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: auto;
    margin: 5px;
    .order-text,
    .order-title {
      font-size: $font18 !important;
    }
  }
}
