@import "../styles/main.scss";

.faq-page {
  display: inline-flex;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-flow: column wrap;
  @include media(media-small-min) {
    flex-flow: row wrap;
  }
}
.faq-block-container {
  flex-basis: 68%;
  padding: 10px 0;
  width: 100%;
  @include media(media-small-min) {
    padding: 10px $length16px;
    max-width: calc(620px + 2rem);
  }
}
.faq-block {
  display: none;
  width: 100%;
  @include media(media-small-min) {
    font-size: $font27;
  }
  &.faq-block-is-active {
    display: block;
    transition: all 0.3s ease;
  }
}
.faq-block-title {
  margin-bottom: 0;
  @include media(media-small-min) {
    font-size: inherit !important;
  }
}
.faq-link-container {
  display: inline-flex;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  @include media(media-small-min) {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.faq-link {
  line-height: 110%;
  border-radius: 50%;
  box-shadow: $faq-link-shadow;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $font14;
  width: 84px;
  height: 84px;
  padding: 6px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  @include media(media-small-min) {
    line-height: 130%;
    font-size: $font22;
    height: 200px;
    width: 200px;
    margin-top: $length20px;
    margin-bottom: $length20px;
  }
  &:first-of-type {
    margin-top: 8px !important;
    font-size: $font14;
    @include media(media-small-min) {
      font-size: $font26;
    }
  }
  &:hover,
  &.faq-link-is-active {
    background: $red;
    color: $white;
    box-shadow: $button-red-shadow-mobile;
    transition: background 0.3s linear, color 0.3s linear, box-shadow 0.6s ease;
    z-index: 1;
    @include media(media-small-min) {
      box-shadow: $button-red-shadow;
    }
  }
  &.faq-link-is-active {
    &:hover {
      background: $red-light;
      box-shadow: $button-red-light-shadow-mobile;
      @include media(media-small-min) {
        box-shadow: $button-red-light-shadow;
      }
    }
  }
}
